<h1>New schoolquarter</h1>

<% form_for(@schoolquarter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :schoolyear %><br />
    <%= f.text_field :schoolyear %>
  </p>
  <p>
    <%= f.label :quarter %><br />
    <%= f.text_field :quarter %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', schoolquarters_path %>